.pagination-container[data-v-2d1e7811]{padding-top:20px;width:100%}[data-v-2d1e7811] .el-table__body tr.current-row>td{background-color:var(--theme-background-color)!important;color:var(--theme-text-color)!important}
